.navbar a{
  color:rosybrown;
  font-size: 20px;
}

.navbar a:hover{
  color:green;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-circle {
  border-radius: 50px;
}
.title h1 {
  color: white;
  font-size: 50px;
}
.title1 h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title2 h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title3 h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title4 h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.title h4 {
  color: yellow;
  text-align: center;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.title .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
  text-align: center;
}
footer {
  background-color: black;
  position: relative;
  padding: 80px 0px;
  height: 600px;
  position: relative;
  font-family: 'Times New Roman', Times, serif;

}

footer .col-md-6 .fa {
  color: #ffffff;
  padding-right: 8px;
}
footer .col-md-6 h3{
  color: #ffffff;
}
footer .col-md-6 h3{
  color: #ffffff;
}
footer .col-md-6 p{
  color: #777;
}
footer .col-md-6 p{
  color: #777;
}

footer hr {
  border-color: #121212;
  margin-top: 62px;
  margin-bottom: 42px;
}

footer .footer-copyright {
  padding-top: 12px;
  color: #777;
}
.social-icon {
  text-align: center;
}
.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border: 2px solid white;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  
}

.social-icon li a:hover {
  border-color:yellowgreen;
  color:yellow !important;
  transform: scale(1.1);
  transition: transform 1s;
}

/* home section */
#home {
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.main-home {
  background-image: url(img3.jpg);
  background-size: cover;
  height: 100vh;
}
.main-single-post {
  background: url(single-post-bg.jpg) no-repeat;
  height: 60vh;
  width: 1400px;
}
.about-post{
  background: url(about-bg.jpg) no-repeat;
  height: 60vh;
  width: 1400px;
}
.gallery-post{
  background: url(gallery-bg.jpg) no-repeat;
  height: 60vh;
  width: 1400px;

}
.contact-post{
  background: url(contact-bg.jpg) no-repeat;
  height: 60vh;
  width: 1400px;
}

  /* About section*/

#about .col-md-6 {
  padding-top: 22px;
  padding-bottom: 32px;
}
#about .col-md-6 h3 {
  font-weight: bold;

}
#about .col-md-6 h3, p{
  font-family: Arial, Helvetica, sans-serif;
  font-display: block;
}
#about .col-md-6 img {
  padding: 22px 0px 22px 22px;
}

#about .col-md-4 {
  padding-bottom: 32px;
}
#about .col-md-4 h2, h3 {
  font-weight: bold;
}
#about .col-md-4 h2, p{
  font-family: Arial, Helvetica, sans-serif;
  font-display: block;
}
#about .container{
  margin-bottom: 5px;
}


#about .col-md-4 img {
  padding-top: 12px;
}
/* gallery section */
#gallery span{
  display: block;
  padding-bottom: 30px;
}
#gallery .container h2{
  font-weight: bold;
}
#gallery .col-md-6{
  padding-left: 0px;
  padding-right: 0px;
}
#gallery .gallery-thumb{
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  cursor: pointer;
  display: block;
  position: relative;
  top: 0px;
  transform: all 0.4s ease-in-out;

}
#gallery .gallery-thumb:hover{
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}
#gallery .gallery-thumb img{
  width: 100%;
}
#gallery .col-md-12 p{
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/* contact section*/
#contact form {
  padding-top: 32px;
}

#contact .form-control {
  border: 2px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #555;
}

#contact input {
  height: 50px;
}

#contact input[type="submit"] {
  background: #3dd151;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #333;
}

/* blog section */
.blog-post-thumb {
  border-bottom: 1px solid #f0f0f0;
  padding-top: 32px;
  padding-bottom: 62px;
  margin-bottom: 32px;
}

.blog-post-thumb:last-child {
  border-bottom: 0px;
  padding-bottom: 32px;
  margin-bottom: 0px;
}

.blog-post-image,
.blog-post-video {
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
}

#about img,
.blog-post-image img {
  border-radius: 1px;
}

.blog-post-title a {
  color: #222;
}

.blog-post-title a:hover {
  color: #bfba55;
}

.blog-post-format {
  padding-bottom: 22px;
}

.blog-post-format span {
  letter-spacing: 0.5px;
  padding-right: 12px;
}

.blog-post-format span a {
  color: #333;
}

.blog-post-format span img {
  display: inline-block;
  width: 42px;
  margin-right: 4px;
}

.blog-post-des blockquote {
  margin: 22px;
}

.blog-post-des .btn {
  border-radius: 100px;
  color: #777;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 14px 28px;
  margin-top: 26px;
  transition: all 0.4s ease-in-out;
}

.blog-post-des .btn:hover {
  background: #51994f;
  border-color: transparent;
  color: #ffffff;
}

.blog-author {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.blog-author .media img {
  display: inline-block;
  width: 90px;
  margin-right: 12px;
}

.blog-author .media a,
.blog-comment .media h3 {
  color: #444;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
}

.blog-comment {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 32px;
  margin-bottom: 42px;
}

.blog-comment .media:nth-child(2) {
  padding-top: 22px;
}

.blog-comment .media img {
  width: 82px;
  margin-right: 12px;
}

.blog-comment .media h3 {
  display: inline-block;
  padding-right: 14px;
}


.blog-comment-form h3 {
  padding-bottom: 18px;
}

#about .col-md-6, #about .col-md-4,
.blog-comment-form .col-md-4 {
  padding-left: 0px;
}

.blog-comment-form .form-control {
  box-shadow: none;
  border: 2px solid #f0f0f0;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

.blog-comment-form .form-control:hover {
  border-color: #555;
}

.blog-comment-form input {
  height: 45px;
}

.blog-comment-form input[type="submit"] {
  background: #54c04a;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

.blog-comment-form input[type="submit"]:hover {
  background: #333;
  border-color: transparent;
  color: #ffffff;
}

/*blog-single-post section */
#blog-single-post .blog-single-post-image {
  padding-top: 22px;
}

#blog-single-post .blog-single-post-image .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 22px;
}

#blog-single-post .blog-single-post-image img {
  border-radius: 1px;
  padding-right: 12px;
}

#blog-single-post .blog-post-des h3 {
  padding-top: 16px;
}
#blog-single-post .blog-post-des blockquote{
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;s
  border-left: 5px solid #eee;
}
* {
}
